html {
	background: url('../../images/landscape.jpg') no-repeat center;
}

html, body {
	@include centerer(column);
	height: 100%;
	width: 100%;
	cursor: default;
	background-size: 100%;
	overflow: hidden;
}

body {
	padding: 70px 0px 15px 0px;
}

#todo {
	@include align-centerer(column);
	position: absolute;
	height: 100%;
	width: 300px;
	right: 0;
	top: 0;
}

#main-container {
	@include align-centerer(column);
	justify-content: space-between;
	height: 100%;
	width: 100%;

	#weather {
		@include centerer(column);
		height: 50%;
		width: 50%;
	}

	#news {
		@include centerer(column);
		height: 35%;
		width: 100%;
	}
}
