/* variables */

$primary-color: white;
$secondary-color: red;
$tertiary-color: #423e35;

$shadow-color: #000000;

$primary-font: Karla;
$secondary-font: Lato;

/* mixins */

@mixin align-centerer($direction) {
	display: flex;
	flex-direction: $direction;
	align-items: center;
}

@mixin centerer($direction) {
	@include align-centerer($direction);
	justify-content: center;
}

@mixin basic-button {
	@include centerer(column);
	outline: none;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.25s ease;
}

body {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@import 'reset';
@import 'typography';
@import 'layout';
@import 'weather';
@import 'news';
@import 'todo';
@import 'states';

