#city {
	input[type="text"]:hover {
		border: 1px solid $primary-color;
	}
}

.article {
	opacity: 1;
	transition: all 0.25s ease;
}

.article:hover {
	opacity: 0.8;
	cursor: pointer;
}

#news div a:hover {
	text-decoration: underline;
}

#todo {
	margin-right: -300px;
	transition: all 0.35s ease;
}

#todo:hover {
	margin-right: -0px;
}