body {
	
	#todo {
		font: 14px $primary-font;
		color: black;

		h2 {
			font: 34px $primary-font;
			text-shadow: 1px 1px 3px $shadow-color;
			text-transform: uppercase;
		}

		input[type="text"] {
			font: 14px $primary-font;
		}

		button {
			font: 10px $primary-font;
			color: $primary-color;
		}
	}

	#weather {
		#city, #city input[type="text"] {
			font: 22px $primary-font;
			color: $primary-color;
			text-shadow: 1px 1px 3px $shadow-color;
		}

		#city label {
			font: 12px $primary-font;
			text-shadow: 1px 1px 2px $shadow-color;
		}

		#temp {
			font: 120px $primary-font;
			letter-spacing: 10px;
			color: $primary-color;
			text-shadow: 1px 1px 8px $shadow-color;
		}
	}

	#news {
		a {
			color: $primary-color;
			font: 12px $primary-font;
			text-shadow: 1px 1px 2px $shadow-color;
		}
	}
}
